/***************************************/
/***************************************/
/*****                       ***********/
/*****     PAGE D'ACCEUIL    ***********/
/*****                       ***********/
/***************************************/
/***************************************/

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas: "entete paragraphe";
  grid-template-columns: 70%;
}
header {
  display: flex;
  width: 100%;
  grid-area: "entete";
}
nav {
  margin-top: 52px;
}
h1 {
  font-family: var(--font-default);
  font-weight: 400;
  color: #901c1c;
  margin-top: 50px;
  margin-left: 20px;
  grid-area: "para";
}
h3 {
  font-size: 13px;
  color: #901c1c;
  line-height: 20px;
}
h4 {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}
figcaption {
  font-size: 36px;
  color: #d3573c;
}
p {
  font-size: 10px;
  line-height: 20px;
}
#logo {
  margin: 42px 60px 0 150px;
}
.styleBouton {
  background-color: transparent;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  color: #901c1c;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 12px;
  margin: 6px 0 0 5px;
  cursor: pointer;
  /*text-transform: capitalize;*/
}
.stylebouton {
  background-color: transparent;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  color: #901c1c;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 12px;
  margin: 6px 0 0 5px;
  cursor: pointer;
  /*text-transform: capitalize;*/
}
.boxPhotographer {
  width: 100px;
  object-fit: cover;
}
.artist {
  display: block;
  font-family: var(--font-default);
  text-align: center;
  padding: 0px 100px 50px 100px;
  font-weight: 400;
  max-width: 425px;
}
.boxImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.boxImagePhotographers {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.content {
  position: absolute;
  top: 202px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flexible {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.content a {
  text-decoration: none;
}
.content p {
  color: black;
}
@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 50%;
  }
  header {
    flex-direction: column;
  }
  .flexible {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(50%);
    min-width: 375px;
  }
  .content {
    top: 250px;
  }
  #logo {
    margin: 0;
    padding-top: 42px;
    display: flex;
    justify-content: center;
  }
  h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  #logo img {
    width: 150px;
    height: 37.5px;
    margin-left: 20px;
  }
  h1 {
    font-size: 14px;
    margin-top: 52px;
    margin-left: 50px;
  }
  .flexible {
    width: 320px;
    transform: translateX(12%);
  }
}
@media screen and (min-width: 500px) and (max-width: 580px) {
  .flexible {
    transform: translateX(25%);
  }
}
@media screen and (min-width: 580px) and (max-width: 635px) {
  .flexible {
    transform: translateX(33%);
  }
}
@media screen and (min-width: 635px) and (max-width: 695px) {
  .flexible {
    transform: translateX(40%);
  }
}
@media screen and (max-width: 425px) {
  body {
    min-width: 425px;
  }
}

/***************************************/
/***************************************/
/*****                       ***********/
/*****   PAGES PHOTOGRAPHES  ***********/
/*****                       ***********/
/***************************************/
/***************************************/
#logoImg {
  margin: 42px 60px 0 150px;
}
.colorTitle {
  font-size: 36px;
  color: #d3573c;
}
.boxPhotographers h1 {
  font-size: 64px;
  margin-left: 46px;
}

.boxPhotographers {
  font-family: var(--font-default);
  background: #fafafa;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.boxPhotographers h3 {
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
  margin-top: 0.5rem;
}
.boxPhotographers p {
  font-size: 18px;
  font-weight: 400;
  margin-left: 50px;
  color: #525252;
  margin-top: 20px;
}
.contactButton {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  background: #911c1c;
  border-radius: 5px;
  color: #fff;
  border: none;
  height: 69px;
  width: 170px;
  margin-top: 50px;
  margin-left: -250px;
}
.boxPhoto {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  margin-right: 20px;
}
.boxPhoto img {
  object-fit: cover;
}

.box-video {
  object-fit: cover;
}

.containerFlex {
  width: 370px;
}
.containerFlex button {
  cursor: pointer;
  border: 1px solid transparent;
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.likes figcaption,
.likes span {
  font-family: var(--font-default);
  text-decoration: none;
  font-size: 24px;
  color: #901c1c;
  padding-top: 10px;
}
.likes {
  display: flex;
  justify-content: space-between;
}
.block {
  display: block;
  padding-right: 14px;
}
.displayBody {
  display: block;
}
.boxContainer {
  margin: 50px 50px 57px 0;
}
.displayMain {
  margin: 30px 100px 0 100px;
}
.logoImg {
  margin-left: -50px;
}
nav {
  display: flex;
}
.bouton {
  margin-top: 16px;
  margin-left: 45px;
}

.modal {
  object-fit: cover;
  padding: 10px;
  width: 12.6%;
  height: 170px;
  background-color: #901c1c;
  border-radius: 5px;
  position: absolute;
  left: 200px;
  display: none;
  flex-direction: column;
  border: none;
  z-index: 999;
  animation: scale-down-ver-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s
    both;
}

@keyframes scale-down-ver-top {
  0% {
    height: 65px;
    transform-origin: 100% 0;
  }
  100% {
    height: 170px;
    transform-origin: 100% 0;
  }
}

@keyframes scale-down-ver-down {
  0% {
    height: 170px;
    transform-origin: 100% 0;
  }
  100% {
    height: 65px;
    transform-origin: 100% 0;
  }
}
.modal a {
  color: #fff;
}
.modal-close {
  padding: 10px;
  width: 170px;
  height: 65px;
  background-color: #901c1c;
  border-radius: 5px;
  position: absolute;
  left: 200px;
}
.modal-close a {
  color: #fff;
}
.Pop-close {
  padding: 14px 0 14px 0;
}
.btn-fleche-close {
  background: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(-0.4);
}
.btn-fleche-close:before,
.btn-fleche-close:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: " ";
  height: 33px;
  width: 8px;
  background-color: #fff;
}
.btn-fleche-close:before {
  transform: rotate(45deg);
  transform-origin: -50% -20%;
}
.btn-fleche-close:after {
  transform: rotate(-45deg);
}
nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding: 14px 0 14px 0;
  font-family: var(--font-default);
}
.Pop {
  padding: 14px 0 14px 0;
  border-bottom: 1px solid #fff;
}

.border {
  animation: line-border 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s forwards;
}

@keyframes line-border {
  0% {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  90% {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-bottom: 1px solid #fff;
  }
}

.sort {
  padding-bottom: 58px;
}
.buttonPage {
  font-size: 14px;
}
.buttonpage {
  font-size: 14px;
}
.btn-fleche {
  background: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.4);
}
.btn-fleche:before,
.btn-fleche:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: " ";
  height: 33px;
  width: 8px;
  background-color: #fff;
}
.btn-fleche:before {
  transform: rotate(45deg);
  transform-origin: -50% -20%;
}
.btn-fleche:after {
  transform: rotate(-45deg);
}
.caroussel {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 71px;
  font-family: var(--font-default);
  position: relative;
  top: 10px;
}
.fas {
  padding: 12px 7px 0 0;
  font-size: 22px;
  color: #911c1c;
}
.modal-info {
  background-color: #db8876;
  height: 89px;
  width: 376px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  font-family: var(--font-default);
  font-size: 24px;
  position: fixed;
  bottom: -21px;
  right: 36px;
}
.info-icon {
  padding-top: 12px;
}
.containerButton {
  display: none;
}
span.info-icon {
  padding-top: 22px;
}
.modal-bg {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: ffff;
  background-color: white;
  z-index: 2;
  top: 0;
  left: 0;
}
.box-modal {
  object-fit: cover;
  width: 40vw;
  min-width: 500px;
  height: 90vh;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow: 6px 1px 2px -2px #e5e5e5;
  /*transform: translate(65%, 0);*/
}
.zoom-in {
  position: relative;
}
.zoom-in figcaption {
  font-family: var(--font-default);
  font-size: 16px;
  color: #901c1c;
  padding-top: 6px;
}
.btn-close {
  background: transparent;
  border: none;
  position: absolute;
  right: -50px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}
.btn-close:before {
  transform: rotate(45deg);
}
.btn-close:before,
.btn-close:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: " ";
  height: 33px;
  width: 4px;
  background-color: #901c1c;
}
.btn-close:after {
  transform: rotate(-45deg);
}
.fleche-right,
.fleche-left {
  top: 50%;
  transform: scale(0.7);
}
.fleche-left {
  left: -50px;
}
.fleche-right {
  right: -50px;
}
.fleche-right:before,
.fleche-left:before,
.fleche-right:after,
.fleche-left:after {
  width: 7px;
}
.fleche-left:after {
  top: 20px;
}
.fleche-right:before {
  top: 20px;
}
/* box modal */

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}
.content-box {
  margin: 5% auto;
  width: 100%;
  max-width: 669px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: rgba(219, 136, 118, 1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
  box-shadow: -5px 5px 13px 0px rgb(0 0 0 / 35%);
}
@keyframes modalopen {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}
.btn-closer {
  background: transparent;
  border: none;
  position: absolute;
  right: 35px;
  top: 35px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
}
.btn-closer:before {
  transform: rotate(45deg);
}
.btn-closer:after {
  transform: rotate(-45deg);
}
.btn-closer:before,
.btn-closer:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.modal-body {
  padding: 10px 5%;
  margin: 0 auto;
  padding-bottom: 38px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  font-family: var(--font-default);
  color: #681a22;
  display: block;
  margin-top: 10px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="false"]::after {
  opacity: 1;
  color: rgb(4, 134, 4);
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #681a22;
}
.formData[data-error-visible="false"] .text-control {
  border: 2px solid rgb(4, 134, 4);
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  height: 48px;
  border: none;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
textarea:focus {
  outline: none !important;
}
.formData textarea {
  height: 170px;
}
.text-label {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 3.2rem;
  color: black;
  margin-top: 0;
}
label {
  font-family: var(--font-default);
  font-size: 28px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
  padding-top: 2px;
}
.btn-submit,
.btn-signup {
  background: rgba(144, 28, 28, 1);
  display: block;
  margin-top: 26px;
  border-radius: 7px;
  font-size: 1rem;
  padding: 20px 55px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

@media screen and (max-width: 626px) {
  .box-modal {
    min-width: 300px;
    height: 55vh;
  }
}
@media screen and (max-width: 1440px) {
  .boxPhotographers {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .contactButton {
    margin-left: 0;
  }
  .caroussel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .modal-info {
    display: none;
  }
  .contactButton {
    position: fixed;
    bottom: 25px;
    z-index: 2;
    left: calc(50vw - 75px);
  }
  .ButtonIphone {
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 26px;
    background: #911c1c;
    border-radius: 5px;
    color: #fff;
    border: none;
    height: 35px;
    width: 170px;
    position: fixed;
    bottom: 30px;
    z-index: 9999;
  }
  .containerButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .boxImagePhotographers {
    width: 100px;
    height: 100px;
  }
  .displayMain {
    margin: 30px 0 0 0;
  }
  #logoImg {
    margin-left: 30px;
  }
  .boxPhotographers {
    background: none;
    display: flex;
    margin-left: -20px;
  }
  .boxPhotographers h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .boxPhotographers {
    background: none;
    margin-left: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #logoImg {
    margin-left: 110px;
  }
  nav {
    margin-left: 100px;
  }
}
@media screen and (max-width: 500px) {
  .caroussel {
    gap: 28px;
  }
  #logoImg {
    width: 150px;
    height: 37.5px;
    margin-left: 27px;
  }
  .navbar {
    display: none;
  }
  .boxPhoto {
    width: 100%;
    height: 190px;
  }
  .containerFlex {
    margin: 0 30px 0 30px;
    width: 100%;
  }
  .boxPhotographers {
    margin-bottom: 50px;
  }
  .likes figcaption,
  .likes span {
    font-size: 21px;
    margin-top: 10px;
  }
  .block {
    margin-top: 10px;
  }
  .displayMain {
    margin: -23px 0 0 0;
  }
  .boxImagePhotographers {
    width: 120px;
    height: 120px;
  }
  .contactButton {
    height: 40px;
    width: 200px;
    display: block;
    position: fixed;
    z-index: 2;
    left: calc(50vw - 90px);
  }
}
@media screen and (max-width: 425px) {
  .colorTitle {
    margin: 0;
  }
  .contactButton {
    left: 120px;
  }
  .boxPhotographers {
    margin-top: 65px;
  }
  .boxPhotographers h3 {
    font-size: 13px;
    margin-top: 0;
  }
  .boxPhotographers p {
    font-size: 13px;
    margin-top: 0;
  }
  .buttonPage {
    font-size: 12px;
  }
  .buttonpage {
    font-size: 12px;
  }
  .bouton {
    margin-top: 0;
  }
  .boxImagePhotographers {
    margin-top: -50px;
  }
  .boxPhoto {
    margin: 0;
    justify-content: center;
    display: flex;
  }
  .displayBody {
    min-width: 425px;
  }
  .navbar {
    display: none;
  }
  .likes figcaption,
  .likes span,
  .fas {
    font-size: 14px;
  }
}
/*@media screen and (max-width: 375px) {
  
}*/
