/***************************************/
/***************************************/
/*****                       ***********/
/*****     PAGE D'ACCEUIL    ***********/
/*****                       ***********/
/***************************************/
/***************************************/

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas: "entete paragraphe";
  grid-template-columns: 70%;
}
header {
  display: flex;
  width: 100%;
  grid-area: "entete";
}
nav {
  margin-top: 52px;
}
h1 {
  font-family: var(--font-default);
  font-weight: 400;
  color: #901c1c;
  margin-top: 50px;
  margin-left: 20px;
  grid-area: "para";
}
h3 {
  font-size: 13px;
  color: #901c1c;
  line-height: 20px;
}
h4 {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}
p {
  font-size: 10px;
  line-height: 20px;
}
#logo {
  margin: 42px 60px 0 150px;
}
.styleBouton {
  background-color: transparent;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  color: #901c1c;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 12px;
  margin: 6px 0 0 5px;
  cursor: pointer;
  grid-area: "title";
}
.artist {
  display: block;
  font-family: var(--font-default);
  text-align: center;
  padding: 0px 100px 50px 100px;
  font-weight: 400;
  max-width: 425px;
}
.boxImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.content {
  position: absolute;
  top: 202px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flexible {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 50%;
  }
  header {
    flex-direction: column;
  }
  .flexible {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(50%);
    min-width: 375px;
  }
  .content {
    top: 250px;
  }
  #logo {
    margin: 0;
    padding-top: 42px;
    display: flex;
    justify-content: center;
  }
  h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  #logo img {
    width: 150px;
    height: 37.5px;
    margin-left: 20px;
  }
  h1 {
    font-size: 14px;
    margin-top: 52px;
    margin-left: 50px;
  }
  .flexible {
    width: 320px;
    transform: translateX(12%);
  }
}
@media screen and (min-width: 500px) and (max-width: 580px) {
  .flexible {
    transform: translateX(25%);
  }
}
@media screen and (min-width: 580px) and (max-width: 635px) {
  .flexible {
    transform: translateX(33%);
  }
}
@media screen and (min-width: 635px) and (max-width: 695px) {
  .flexible {
    transform: translateX(40%);
  }
}

/***************************************/
/***************************************/
/*****                       ***********/
/*****   PAGES PHOTOGRAPHES  ***********/
/*****                       ***********/
/***************************************/
/***************************************/

.colorTitle {
  font-size: 36px;
  color: #d3573c;
}
.boxPhotographers h1 {
  font-size: 64px;
  margin-left: 46px;
}

.boxPhotographers {
  font-family: var(--font-default);
  background: #fafafa;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.boxPhotographers h3 {
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
  margin-top: 0.5rem;
}
.boxPhotographers p {
  font-size: 18px;
  font-weight: 400;
  margin-left: 50px;
  color: #525252;
  margin-top: 20px;
}
.contactButton {
  /*padding: 31% 6.7% 31% 6.7%;*/
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  background: #911c1c;
  border-radius: 5px;
  color: #fff;
  border: none;
  height: 69px;
  width: 170px;
  margin-top: 50px;
  margin-left: -250px;
}
.boxPhoto {
  width: 500px;
  height: 500px;
}
.boxPhoto img {
  object-fit: cover;
}
.displayBody {
  display: block;
}
.boxContainer {
  margin-top: 50px;
}
.displayMain {
  margin: 30px 100px 0 100px;
}
.logoImg {
  margin-left: -50px;
}
.containerFlex {
  font-family: var(--font-default);
}
.containerFlex nav {
  display: flex;
}
.bouton {
  margin-top: 16px;
  margin-left: 45px;
}
.modal {
  width: 170px;
  height: 170px;
  background-color: #901c1c;
  border-radius: 5px;
  position: relative;
}
.modal a {
  color: #fff;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.buttonPage {
  font-size: 14px;
}
.btn-fleche {
  background: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.4);
}
.btn-fleche:before,
.btn-fleche:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: " ";
  height: 33px;
  width: 8px;
  background-color: #fff;
}
.btn-fleche:before {
  transform: rotate(45deg);
  transform-origin: -50% -20%;
}
.btn-fleche:after {
  transform: rotate(-45deg);
}
.modal div {
  display: flex;
  flex-direction: column;
}
