:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas: "entete paragraphe";
}
header {
  display: flex;
  width: 100%;
  grid-area: "entete";
}
nav {
  margin-top: 52px;
}
h1 {
  font-family: var(--font-default);
  font-weight: 400;
  color: #901c1c;
  margin-top: 50px;
  grid-area: "para";
}
h3 {
  font-size: 13px;
  color: #901c1c;
  line-height: 20px;
}
h4 {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
}
figcaption {
  font-size: 36px;
  color: #d3573c;
}
p {
  font-size: 10px;
  line-height: 20px;
}
#logo {
  margin: 42px 86px 0 100px;
}
.styleBouton {
  background-color: transparent;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  color: #901c1c;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 6px;
}
.boxPhotographer {
  width: 100px;
  object-fit: cover;
}
.artist {
  display: block;
  font-family: var(--font-default);
  text-align: center;
  padding: 0px 70px 50px 130px;
  font-weight: 400;
}
.boxImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.content {
  position: absolute;
  top: 202px;
  left: -63px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  /*body {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
  }
  header {
    display: grid;
  }
  nav {
    grid-column: 2;
    grid-row: 2;
  }
  h1 {
    display: grid;
    justify-content: end;
  }*/
  .artist {
    padding: 0px 40px 50px 115px;
  }
}
