:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
}
* {
  box-sizing: border-box;
  margin: 0;
  adding: 0;
}
header {
  display: flex;
  width: 100%;
}
nav {
  margin-top: 58px;
}
h1 {
  margin: 44px 0 0 86px;
}
figcaption {
  text-align: center;
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 36px;
}
#logo {
  margin: 42px 86px 0 100px;
}
.styleBouton {
  background-color: transparent;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  color: #901c1c;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 12px;
}
.boxPhotographer {
  width: 100px;
  object-fit: cover;
}
.artist {
  width: 526px;
  height: 358px;
  padding: 50px 164px 108px 162px;
}
.boxImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
