:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas: "entete paragraphe";
}
header {
  display: flex;
  width: 100%;
  grid-area: "entete";
}
nav {
  margin-top: 58px;
}
h1 {
  margin: 44px 0 0 86px;
  grid-area: "paragraphe";
}
h3 {
  font-size: 13px;
  font-weight: 400;
}
figcaption {
  font-weight: 400;
  font-size: 36px;
  color: #d3573c;
}
#logo {
  margin: 42px 86px 0 100px;
}
.styleBouton {
  background-color: transparent;
  border-radius: 11px;
  border: 0.5px solid #c4c4c4;
  color: #901c1c;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 12px;
}
.boxPhotographer {
  width: 100px;
  object-fit: cover;
}
.artist {
  display: block;
  font-family: var(--font-default);
  text-align: center;
  padding: 0px 70px 50px 163px;
}
.boxImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.content {
  position: absolute;
  top: 202px;
  left: -63px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
